/target/
/.oxide-artifacts/
**/*.bc
.DS_Store
**/*.cubin
**/*.cubin.target
**/*.ll
**/*.ltoir
**/*.opt.ll
**/*.options
**/*.ptx
**/*.target
.idea
/log/
/oxide-forge/docs/impl
**/__pycache__/
*.py[cod]
/temp

